<?xml version="1.0"?>
<appSettings>
  <add key="CstCode" value="Raadeen"/>
  <add key="ShowPasswordInLoginState" value="true"/>
  <add key="ShowRememberMeInLoginState" value="true"/>
  <add key="IsAutomaticLoadChartData" value="false"/>
  <add key="CommandTimeout" value="500"/>
  <add key="CacheValidityMinutes" value="100"/>
</appSettings>